{% load i18n %}

{% block subject %}
{% blocktrans %}Пароль изменён{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Ваш пароль успешно изменён!" %}

{% trans "Спасибо, что пользуетесь нашим сайтом!" %}

{% blocktrans %}С уважением интернет-магазин "Карамелька"{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Ваш пароль успешно изменён!" %}</p>

<p>{% trans "Спасибо, что пользуетесь нашим сайтом!" %}</p>

<p>{% blocktrans %}С уважением интернет-магазин "Карамелька"{% endblocktrans %}</p>
{% endblock html_body %}