@import "variables";

.account-page {

}

.account-page_tabs .nav-link {
  background: $color-grey;
}

.account-page_tabs .nav-link,
.account-page_tabs .nav-link.active {
  color: $color-black; /* Цвет текста заголовков табов */
  margin-bottom: 10px;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  padding-top: 17px;
}

.account-page_tabs {
  .nav-link.active {
    color: $color-black; // Применяем переменную к активному табу
    background: $color-yellow;
  }
}

.account-page_tabs__tab {
  margin-bottom: 10px;
}

.account-page_tabs__tab:not(:last-of-type) {
  margin-bottom: 10px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.tab-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.account-page_exit {
  margin-top: 10px;
  padding-bottom: 50px;
  display: flex;
  cursor: pointer;
}

.account-page_exit img {
  margin-right: 15px;
}

.account-page_exit p {
  padding-top: 16px;
  font-size: 15px;
}

.account-page_exit p:hover {
  font-size: 16px;
  color: $color-yellow;
}

.account-page_exit p:focus {
  font-size: 16px;
  color: $color-yellow;
}

.account-page_account__data {
  margin-left: 50px;
}

.account-page_account__data_el {
  display: flex;
  width: 315px;
  height: 63px;
}

.account-page_account__data_el div {
  margin-left: 20px;
}

.account-page_account__data_el input {
  border-radius: 10px;
  width: 315px;
  height: 44px;
  background: $color-white;
}

.account-page_account__data_el label {
  font-weight: 400;
  font-size: 12px;
  color: #979797;
}

.account-page_account__btn {
  margin-left: 70px;
  margin-top: 70px;
}

.account-page_account__btn button {
  width: 236px;
  height: 48px;
}

.account-page_orders {
  margin-left: 70px;
  display: flex;
}

.account-page_order {
  color: $color-black;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 10px;
  width: 482px;
  height: 144px;
  background: #f6f6f6;
  padding: 20px;
}

.account-page_order:hover {
  width: 484px;
  height: 146px;
  cursor: pointer;
}

.account-page_order:focus {
  width: 484px;
  height: 146px;
  cursor: pointer;
}

.account-page_order h1 {
  font-weight: 400;
  font-size: 18px;
}

.account-page_order p {
  font-weight: 400;
  font-size: 14px;
  color: #636363;
}

.account-page_order span {
  font-weight: 500;
  font-size: 23px;
}

