asgiref==3.7.2
async-timeout==4.0.3
Django==4.2
hiredis==2.3.2
pillow==10.2.0
psycopg2-binary==2.9.9
psycopg2==2.9.9
python-dotenv==1.0.1
redis==5.0.3
sqlparse==0.4.4
typing_extensions==4.9.0
djangorestframework==3.15.1
django-cors-headers==4.3.1
flake8==7.0.0
isort==5.13.2
djoser==2.2.2
djangorestframework-simplejwt==5.3.1
